<%- include("header") -%>

<body>
	<h3>Input a sentence to be scrambled and press submit.</h3>

	<form action="/" method="post">
		<input type="text" name="userinput">
		<button type="submit">submit</button>
	</form>
</body>
</html>



<!-- <h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

<div id="start" ondrop="drop(event)" ondragover="allowDrop(event)">
	<img src="cat.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
</div>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div> -->