<%- include("header") -%>

<body onload="formatQuestion()">
	<h1 id="title"></h1>
	<div class="example-container"><h3 id="example"></h3></div>
	<p>Unscramble <span id="question-number"></span> of <span id="total"></span> sentences.</p>
	<button onclick="checkAnswer()">Submit Answer</button>
	<button onclick="showAnswer()">Show Answer</button>
	<h4 id="mother-tounge"></h4>
	<div class="choice-box"></div>
	<h1 id="beginning"></h1>
	<div class="answer-container"></div>
	<h1 id="end"></h1>


	<script src="logic.js" charset="utf-8"></script>
</body>
</html>