<%- include("header") -%>

<body onload="formatQuestion()">

	<p>Number <span id="question-number"></span> of <span id="total"></span> :	Unscramble the sentence.</p>
	<button onclick="checkAnswer()">Submit Answer</button>
	<button onclick="showAnswer()">Show Answer</button>
	<div class="choice-box"></div>
	<div class="answer-container"></div>


	<script src="logic.js" charset="utf-8"></script>
</body>
</html>