<!-- var scram = {
    title: "",
    example: "",
    motherTounge: "",
    sentenceList: [
      {
        beginning: "",
        middle: "",
        end: "",
    },
      ],
    } -->

<%- include("header") -%>

<body>
    <h1>Sentence Scrambler</h1>
    <h4>Follow the instructions to create a scrambled sentence quiz.</h4>
    <form style="text-align: left">
        <label>Title</label><br>
        <input type="text" size="53"><br>
        <label>Example</label><br>
        <textarea id="exampleId" name="example" rows="4" cols="50"></textarea><br>
        <input type="checkbox" id="translation" name="translation" value="include">
        <label for="translation">Include Japanese translation.</label><br>
        <h4>To scramble the whole sentence, enter text in the middle 
            field only. I you would like to leave unmodified text
            at the beginning of the sentence, end of the sentence, or both,
            enter the text in the those fields.
        </h4>
        <label>Beginning</label>
        <input type="text">
        <label>Middle</label>
        <input type="text">
        <label>End</label>
        <input type="text"><br>
        <button>add sentence</button>
        <button>submit quiz</button>
    </form>
</body>
