body {
  text-align: center;
}

p {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.choice-box {
  margin: auto;
  width: 95%;
  text-align: center;
  border: 1px solid black;
  height: 4rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3rem;
  padding: 2px 0;
}

.target-boxes {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  height: 5rem;
  width: 230px;
  margin: 8px 5px;
  vertical-align: top;
}

span {
  padding: 0 10px;
  font-size: 3rem;
}

.correct {
  background-color: lightblue;
}

.wrong {
  background-color: orange;
}

.answer-container {
  text-align: left;
  margin: auto;
  width: 95%;
}

#beginning {
  text-align: left;
}

#end {
  text-align: left;
}