body {
  text-align: center;
}

p {
  font-size: 3rem;
}

.choice-box {
  margin: auto;
  width: 95%;
  text-align: center;
  border: 1px solid black;
  height: 5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
}

.target-boxes {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  height: 5rem;
  width: 230px;
  margin: 15px 5px;
  vertical-align: top;
}

span {
  padding: 0 10px;
  font-size: 3rem;
}

.correct {
  background-color: lightblue;
}

.wrong {
  background-color: orange;
}

.answer-container {
  text-align: left;
}

