body {
  margin: 0 10px;
}

#title {
  text-align: center;
  margin: 10px 0;
}

.gray {
  background-color: rgb(232, 232, 232);
  border-radius: 2%;
}

#number-info {
  font-size: 2rem;
  text-align: center;
}


.choice-box {
  border: 1px solid gray;
  flex-wrap: wrap;
  display: flex;
  min-height: 5rem;
  text-align: center;
  margin: auto;
  font-size: 3rem;
}

.target-boxes {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  height: 5rem;
  min-width: 80px;
  max-width: fit-content;
  margin: 8px 5px;
  vertical-align: top;
  border-radius: 20%;
}

.word {
  padding: 0 10px;
  font-size: 3rem;
  display: inline;
}

.correct {
  background-color: lightblue;
  text-align: center;
  font-size: 3rem;
}

.wrong {
  background-color: orange;
  text-align: center;
  font-size: 3rem;
}

.answer-container {
  text-align: left;
  margin: auto;
}

#beginning {
  text-align: left;
  font-size: 2rem;
}

#end {
  text-align: left;
  font-size: 2rem;
  line-height: 0;
}